<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<a href="toadd">添加</a><br>
	
	<form id="sf" style="border:1px solid red;" method="get">
		 用户名：<input name="name" th:value="${u.name}"> <br>
		爱好： <input name="hb" th:value="${u.hb}"><br>
		请求第几页：<input name="pn" id="pn" th:value="${page.number+1}"><br>
	   每页显示：<input style="width:15px;" name="ps" th:value="${page.size}"><br>
		 <input type="submit" value="查询">
   	</form>
   	
   	
   	<script>
		function go(p){
			document.getElementById("pn").value=p;//修改提交参数 页码
			document.getElementById("sf").submit();//提交表单
		}
	</script>
   	
   	<div th:include="common/pager :: pagerbar"></div> 
   	
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>爱好</th>
        </tr>
        <tr th:each="user : ${page.content}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">海</td>
            <td th:text="${user.age}">18</td>
            <td th:text="${user.hb}"></td>
        </tr>
    </table>
  
</body>
</html>