<div th:fragment="pagerbar">
	共<span th:text="${page.totalPages}"></span>页,当前<span th:text="${page.number+1}"></span>页
   	<a href="javascript:go(1)">首页</a> 
    <a th:href="@{'javascript:go('+${page.number}+')'}">上一页</a> 
    
    <a th:href="@{'javascript:go('+${page.number-2}+')'}"  th:text="${page.number-2}" th:if="${page.number gt 2}"></a> 
    <a th:href="@{'javascript:go('+${page.number-1}+')'}"  th:text="${page.number-1}"  th:if="${page.number gt 1}"></a> 
    <a th:href="@{'javascript:go('+${page.number}+')'}"  th:text="${page.number}" th:if="${page.number gt 0}"></a> 
    <a style="border:2px solid green;padding:2px" href="" th:text="${page.number+1}"></a> 
        <a th:href="@{'javascript:go('+${page.number+2}+')'}"  th:text="${page.number+2}" th:if="${page.number+1 lt page.totalPages}"></a> 
    <a th:href="@{'javascript:go('+${page.number+3}+')'}"  th:text="${page.number+3}"  th:if="${page.number+2 lt page.totalPages}"></a> 
    <a th:href="@{'javascript:go('+${page.number+4}+')'}"  th:text="${page.number+4}" th:if="${page.number+3 lt page.totalPages}"></a> 
    
    <a th:href="@{'javascript:go('+${page.number+2}+')'}">下一页</a>
    <a th:href="@{'javascript:go('+${page.totalPages}+')'}">尾页</a> 
    
</div>